* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #191919;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0 0 0 0;
}

.main-header {
  width: 100%;
  height: auto;
  max-height: 6%;
  position: fixed;
  z-index: 3;
  background: transparent;
  padding: 1.8% 4% 0 4%;
  -webkit-transition: background .4s;
  transition: background .4s;
}

.main-header.scrolled {
  background: #191919;
}

.main-header .logo {
  width: 6%;
  height: auto;
  min-width: 76px;
  float: left;
  margin: 0 1% 1% 0;
  position: relative;
  bottom: 4px;
}

.main-header .primary-nav {
  display: inline;
  min-height: 12px;
  list-style-type: none;
  overflow: hidden;
}

.main-header .primary-nav a {
  color: white;
  text-decoration: none;
}

.main-header .primary-nav a:hover {
  color: #c8c8c8;
}

.main-header .primary-nav a.active {
  color: white;
  font-weight: bold;
  cursor: default;
}

.main-header .primary-nav .nav-menu {
  position: relative;
  display: inline-block;
  font-size: 2.4vw;
}

.main-header .primary-nav .nav-menu:hover .sub-menu {
  display: block;
}

.main-header .primary-nav .nav-menu .sub-menu {
  display: none;
  position: relative;
  top: 20px;
  right: 78px;
  border-top: 2px solid white;
  background-color: rgba(0, 0, 0, 0.8);
  min-width: 200px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 3;
}

.main-header .primary-nav .nav-menu .sub-menu .sub-menu-list {
  list-style-type: none;
}

.main-header .primary-nav .nav-menu .sub-menu .sub-menu-list li a {
  margin: 0 0 0 -42px;
  padding: 12px 16px;
  display: block;
}

.main-header .primary-nav .nav-menu .sub-menu .sub-menu-list li a:hover {
  background-color: rgba(60, 60, 60, 0.8);
}

.main-header .primary-nav .nav-menu .sub-menu:after, .main-header .primary-nav .nav-menu .sub-menu:before {
  bottom: 100%;
  left: 45%;
  border: solid transparent;
  content: " ";
  position: absolute;
  pointer-events: none;
}

.main-header .primary-nav .nav-menu .sub-menu:before {
  border-bottom-color: white;
  border-width: 12px;
}

.main-header .primary-nav .nav-tab {
  float: left;
  margin: 0 0 0 2%;
  display: none;
  font-size: 0.95vw;
}

.main-header .secondary-nav {
  float: right;
  color: white;
}

.main-header .secondary-nav .search-box {
  float: left;
  margin: 0px 30px 0 0;
}

.main-header .secondary-nav .search-box .fa-search {
  font-size: 2.4vw;
  color: white;
}

.main-header .secondary-nav .profile-icon {
  float: right;
  position: relative;
  bottom: 22px;
  width: 30px;
  height: 30px;
}

.main-header .secondary-nav .profile-icon .circle {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: white;
  text-align: center;
}

.main-header .secondary-nav .profile-icon .circle p {
  color: #191919;
  position: relative;
  top: 6px;
}

.main-container {
  /* For large sliders */
  /* For medium sliders */
}

.main-container .billboard-pane .title-image {
  width: 100%;
  height: auto;
  min-height: 330px;
}

.main-container .billboard-pane .fill-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 12% 0 0 4%;
  z-index: 1;
}

.main-container .billboard-pane .fill-container .info-wrapper {
  width: 38%;
  height: auto;
  z-index: 1;
}

.main-container .billboard-pane .fill-container .info-wrapper .title-logo {
  width: 60%;
  height: auto;
  min-width: 100px;
}

.main-container .billboard-pane .fill-container .info-wrapper .description {
  color: white;
  font-size: 1.4vw;
  line-height: 150%;
  margin: 4% 0 0 0;
  text-shadow: 2px 2px 4px #191919;
}

.main-container .billboard-pane .fill-container .control-buttons {
  margin: 1% 0 0 0;
}

.main-container .billboard-pane .fill-container .control-buttons .control-item {
  float: left;
  margin: 0 2% 0 0;
}

.main-container .billboard-pane .fill-container .control-buttons .control-item .play-button {
  width: 8vw;
  height: 3vw;
  background: white;
  border-radius: 6%;
  border: none;
  color: #191919;
  font-size: 1.4vw;
}

.main-container .billboard-pane .fill-container .control-buttons .control-item .play-button:hover {
  background: #c8c8c8;
  cursor: pointer;
}

.main-container .billboard-pane .fill-container .control-buttons .control-item .add-button {
  width: 18vw;
  height: auto;
  background: transparent;
  border: none;
  color: white;
  padding: 0;
  font-size: 1.4vw;
}

.main-container .billboard-pane .fill-container .control-buttons .control-item .add-button:hover {
  cursor: pointer;
  color: #c8c8c8;
}

.main-container .billboard-pane .fill-container .control-buttons .add-item {
  padding: 4px 0 0 0;
}

.main-container .slider-header {
  color: white;
  font-size: 1.5vw;
  position: relative;
  top: 4vh;
}

.main-container .slider-wrapper {
  width: 100%;
  position: relative;
  bottom: 14vw;
  margin: 0 0 2% 0;
  padding: 0 4vw 0 4vw;
}

.main-container .slider-wrapper img {
  width: 100%;
  border-radius: 4px;
}

.main-container .lg-slider-wrapper {
  height: 34vw;
}

.main-container .lg-slider-wrapper .lg-preview .fa-play-circle {
  top: 14vw;
  right: 0;
  bottom: 0;
  left: 9vw;
}

.main-container .lg-slider-wrapper .lg-preview img {
  height: 98%;
}

.main-container .med-slider-wrapper {
  height: 14vw;
  /*.med-preview-1 { @include medium-preview-tile("../images/previewImages/landscape/boruto-poster.jpg"); }
        .med-preview-2 { @include medium-preview-tile("../images/previewImages/landscape/deathnote-poster.jpg"); }
        .med-preview-3 { @include medium-preview-tile("../images/previewImages/landscape/attackontitan-poster.jpg"); }
        .med-preview-4 { @include medium-preview-tile("../images/previewImages/landscape/demonslayer-poster.jpg"); }
        .med-preview-5 { @include medium-preview-tile("../images/previewImages/landscape/narutoshippuden-poster.jpg"); }
        .med-preview-6 { @include medium-preview-tile("../images/previewImages/landscape/onepunchman-poster.jpg"); }
        .med-preview-7 { @include medium-preview-tile("../images/previewImages/landscape/yuyuhakusho-poster.jpg"); }
        .med-preview-8 { @include medium-preview-tile("../images/previewImages/landscape/onepiece-poster.jpg"); }
        .med-preview-9 { @include medium-preview-tile("../images/previewImages/landscape/hunterxhunter-poster.jpg"); }
        .med-preview-10 { @include medium-preview-tile("../images/previewImages/landscape/myheroacademia-poster.jpg"); }
        .med-preview-11 { @include medium-preview-tile("../images/previewImages/landscape/bleach-poster.jpg"); }
        .med-preview-12 { @include medium-preview-tile("../images/previewImages/landscape/fireforce-poster.jpg"); }
        .med-preview-13 { @include medium-preview-tile("../images/previewImages/landscape/akira-poster.jpg"); }*/
}

.main-container .med-slider-wrapper .med-preview .fa-play-circle {
  top: 4vw;
  right: 0;
  bottom: 0;
  left: 9vw;
}

.main-container .med-slider-wrapper .med-preview img {
  height: 95%;
}

.main-container .fa-play-circle {
  position: relative;
  width: 1vw;
  height: 1vh;
  font-size: 6vw;
  color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  text-align: center;
}

.main-container .fa-play-circle:hover {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .fa-search {
    font-size: 2vw !important;
  }
  .nav-menu {
    font-size: 2vw !important;
  }
}

/* Medium devices (landscape tablets, 868px and up) */
@media only screen and (min-width: 868px) {
  .main-header {
    max-height: 10%;
  }
  .nav-menu {
    display: none !important;
  }
  .nav-tab {
    display: inline-block !important;
    font-size: 1.2vw !important;
  }
  .search-box {
    margin: 0px 20px 3px 0 !important;
  }
  .fa-search {
    font-size: 1.2vw !important;
  }
  .profile-icon {
    bottom: 24px !important;
    width: 34px !important;
    height: 34px !important;
  }
  .profile-icon p {
    font-size: 16px !important;
    position: relative;
    top: 9px !important;
  }
  .add-item {
    padding: 7px 0 0 0 !important;
  }
  .slider-header {
    font-size: 1.4vw !important;
  }
  .slider-wrapper {
    margin: 0 0 4% 0 !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* fix:
    fa-angle sizing
    fa-play-cirle hovering
*/
/*# sourceMappingURL=style.css.map */