* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  background: #191919;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0 0 0 0;
}

.fa {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.main-header {
  width: 100%;
  height: auto;
  max-height: 8%;
  position: fixed;
  top: 0;
  z-index: 3;
  background: transparent;
  padding: 3% 4% 3% 2%;
  -webkit-transition: background .4s;
  transition: background .4s;
}

.main-header.scrolled {
  background: #191919;
}

.main-header .fa-bars {
  color: white;
  background: transparent;
  border: none;
  font-size: 24px;
  position: relative;
  margin: 0 4px 0 0;
  float: left;
}

.main-header .logo {
  width: 12%;
  height: auto;
  min-width: 76px;
  float: left;
  position: relative;
}

.main-header .primary-nav {
  display: inline;
  min-height: 12px;
  list-style-type: none;
  overflow: hidden;
}

.main-header .primary-nav a {
  color: white;
  text-decoration: none;
}

.main-header .primary-nav a:hover {
  color: #c8c8c8;
}

.main-header .primary-nav a.active {
  color: white;
  font-weight: bold;
  cursor: default;
}

.main-header .primary-nav .nav-tab {
  float: left;
  margin: 0 0 0 2%;
  padding: 4px 0 0 0;
  display: none;
  font-size: 16px;
}

.main-header .secondary-nav {
  float: right;
  color: white;
  margin: 5px 0 0 0;
  position: relative;
}

.main-header .secondary-nav .search-box {
  float: left;
  margin: 0 0 0 0;
}

.main-header .secondary-nav .search-box .fa-search {
  font-size: 16px;
  color: white;
}

.main-header .secondary-nav .profile-icon {
  float: right;
  position: relative;
  bottom: 6px;
  left: 14px;
  width: 30px;
  height: 30px;
  display: none;
}

.main-header .secondary-nav .profile-icon .circle {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: white;
  text-align: center;
}

.main-header .secondary-nav .profile-icon .circle p {
  color: #191919;
  position: relative;
  top: 7px;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 8.5vw;
  left: 0;
  background: #191919;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 20px 0 0 0;
}

.side-nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-container {
  /* For large sliders */
  /* For medium sliders */
}

.main-container .billboard-pane {
  display: none;
}

.main-container .billboard-pane .title-image {
  width: 100%;
  height: auto;
  min-height: 330px;
}

.main-container .billboard-pane .fill-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 12% 0 0 4%;
  z-index: 1;
}

.main-container .billboard-pane .fill-container .info-wrapper {
  width: 38%;
  height: auto;
  z-index: 1;
}

.main-container .billboard-pane .fill-container .info-wrapper .title-logo {
  width: 60%;
  height: auto;
  min-width: 100px;
}

.main-container .billboard-pane .fill-container .info-wrapper .description {
  color: white;
  font-size: 1.4vw;
  line-height: 150%;
  margin: 4% 0 0 0;
  text-shadow: 2px 2px 4px #191919;
}

.main-container .billboard-pane .fill-container .control-buttons {
  margin: 1% 0 0 0;
}

.main-container .billboard-pane .fill-container .control-buttons .control-item {
  float: left;
  margin: 0 2% 0 0;
}

.main-container .billboard-pane .fill-container .control-buttons .control-item .play-button {
  width: 8vw;
  height: 3vw;
  background: white;
  border-radius: 6%;
  border: none;
  color: #191919;
  font-size: 1.4vw;
}

.main-container .billboard-pane .fill-container .control-buttons .control-item .play-button:hover {
  background: #c8c8c8;
  cursor: pointer;
}

.main-container .billboard-pane .fill-container .control-buttons .control-item .add-button {
  width: 18vw;
  height: auto;
  background: transparent;
  border: none;
  color: white;
  padding: 0;
  font-size: 1.4vw;
}

.main-container .billboard-pane .fill-container .control-buttons .control-item .add-button:hover {
  cursor: pointer;
  color: #c8c8c8;
}

.main-container .billboard-pane .fill-container .control-buttons .add-item {
  padding: 4px 0 0 0;
}

.main-container .slider-header {
  color: white;
  font-size: 16px;
  margin: 0 0 8px 0;
}

.main-container .slider-wrapper {
  width: 100%;
  position: relative;
  top: 30px;
  margin: 50px 0 0 0;
  padding: 0 0 0 18px;
  z-index: 2;
}

.main-container .slider-wrapper img {
  width: 100%;
  border-radius: 4px;
}

.main-container .lg-slider-wrapper {
  height: 54vw;
}

.main-container .lg-slider-wrapper .lg-preview img {
  height: 100%;
}

.main-container .med-slider-wrapper {
  height: 26vw;
}

.main-container .med-slider-wrapper .med-preview img {
  height: 100%;
}

.main-container footer {
  width: 100%;
  height: 1%;
  color: #969696;
  font-size: 1.2rem;
  text-align: center;
  position: relative;
  bottom: 50px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .fa-search {
    color: yellow !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .main-header {
    padding: 3% 4% 6% 2% !important;
  }
  .fa-bars {
    font-size: 26px !important;
    bottom: 0.4vw !important;
  }
  .secondary-nav {
    bottom: 1vw !important;
  }
  .fa-search {
    font-size: 18px !important;
    color: red !important;
  }
  .logo {
    width: 11% !important;
    bottom: 0.4vw !important;
  }
  .slider-header {
    font-size: 19px !important;
  }
}

/* Medium devices (landscape tablets, 868px and up) */
@media only screen and (min-width: 868px) {
  .main-header {
    max-height: 10% !important;
    padding-top: 18px !important;
    padding-bottom: 10px !important;
  }
  .logo {
    width: 10% !important;
    margin: 0 0 0 0 !important;
  }
  .fa-bars {
    display: none !important;
  }
  .side-nav {
    display: none !important;
  }
  .nav-tab {
    display: inline-block !important;
  }
  .secondary-nav {
    bottom: 0 !important;
  }
  .fa-search {
    color: green !important;
  }
  .profile-icon {
    display: inline !important;
  }
  .billboard-pane {
    display: inline !important;
  }
  .add-item {
    padding: 7px 0 0 0 !important;
  }
  .slider-header {
    font-size: 20px !important;
  }
  .slider-wrapper {
    position: relative !important;
    top: -50px !important;
    margin: 0 0 66px 0 !important;
    padding: 0 4vw 0 4vw !important;
  }
  .lg-slider-wrapper {
    height: 32vw !important;
  }
  .med-slider-wrapper {
    height: 14vw !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .fa-search {
    font-size: 18px !important;
    color: blue !important;
  }
  .nav-tab {
    font-size: 18px !important;
  }
  .slider-header {
    font-size: 22px !important;
  }
  .slider-wrapper {
    top: -60px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .fa-search {
    font-size: 20px !important;
    color: orange !important;
  }
  .secondary-nav {
    top: 3px !important;
  }
  .nav-tab {
    padding: 7px 0 0 0 !important;
  }
  .logo {
    width: 9% !important;
    margin: 0 0 0 0 !important;
  }
  .profile-icon {
    bottom: 9px !important;
    width: 35px !important;
    height: 35px !important;
  }
  .profile-icon p {
    font-size: 20px !important;
  }
  .slider-header {
    font-size: 24px !important;
  }
  .slider-wrapper {
    position: relative !important;
    top: -85px !important;
    margin: 0 0 66px 0 !important;
    padding: 0 4vw 0 4vw !important;
  }
}

/* 
Issues:
    Don't show left or right arrow at end of respective slider side
    Browser compatibility (fa fonts)
    
Mobile Issues:
    Landscape orientation
    Footer spacing
    Place hamburger left of logo
    Gap between side menu top and nav
*/
/*# sourceMappingURL=style.css.map */