* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  background: #191919;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0 0 0 0;
}

.main-header {
  width: 100%;
  height: auto;
  max-height: 8%;
  position: fixed;
  top: 0;
  z-index: 3;
  background: transparent;
  padding: 3% 4% 3% 2%;
  -webkit-transition: background .4s;
  transition: background .4s;
}

.main-header.scrolled {
  background: #191919;
}

.main-header .fa-bars {
  color: white;
  background: transparent;
  border: none;
  font-size: 24px;
  position: relative;
  margin: 0 4px 0 0;
  float: left;
}

.main-header .fa-bars:hover {
  cursor: pointer;
}

.main-header .logo {
  width: 12%;
  height: auto;
  min-width: 76px;
  float: left;
  position: relative;
}

.main-header .primary-nav {
  display: inline;
  min-height: 12px;
  list-style-type: none;
  overflow: hidden;
}

.main-header .primary-nav a {
  color: white;
  text-decoration: none;
}

.main-header .primary-nav a:hover {
  color: #bebebe;
}

.main-header .primary-nav a.active {
  color: white;
  font-weight: bold;
  cursor: default;
}

.main-header .primary-nav .nav-tab {
  float: left;
  margin: 0 0 0 2%;
  padding: 4px 0 0 0;
  display: none;
  font-size: 16px;
}

.main-header .secondary-nav {
  float: right;
  color: white;
  margin: 5px 0 0 0;
  position: relative;
}

.main-header .secondary-nav .search-box {
  float: left;
  margin: 0 6px 0 0;
  position: relative;
  bottom: 5px;
  right: 2px;
}

.main-header .secondary-nav .search-box input[type="text"] {
  border: 1px solid white;
  border-radius: 20px;
  background: none;
  width: 25px;
  height: 25px;
  -webkit-transition: all .25s ease-in .25s;
  transition: all .25s ease-in .25s;
  color: transparent;
  font-size: 0.95rem;
  line-height: 25px;
  content: 'hello';
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.main-header .secondary-nav .search-box input[type="text"]::-webkit-input-placeholder {
  color: transparent;
}

.main-header .secondary-nav .search-box input[type="text"]:-ms-input-placeholder {
  color: transparent;
}

.main-header .secondary-nav .search-box input[type="text"]::-ms-input-placeholder {
  color: transparent;
}

.main-header .secondary-nav .search-box input[type="text"]::placeholder {
  color: transparent;
}

.main-header .secondary-nav .search-box input[type="text"]:hover {
  cursor: pointer;
}

.main-header .secondary-nav .search-box input[type="text"]:hover:focus {
  cursor: text;
}

.main-header .secondary-nav .search-box input[type="text"]:hover + span {
  background: transparent;
}

.main-header .secondary-nav .search-box input[type="text"]:focus {
  width: 150px;
  padding: 0 10px;
  outline: none;
  background: none;
  color: white;
}

.main-header .secondary-nav .search-box input[type="text"]:focus::-webkit-input-placeholder {
  -webkit-transition: 1s;
  transition: 1s;
  color: white;
}

.main-header .secondary-nav .search-box input[type="text"]:focus:-ms-input-placeholder {
  -webkit-transition: 1s;
  transition: 1s;
  color: white;
}

.main-header .secondary-nav .search-box input[type="text"]:focus::-ms-input-placeholder {
  -webkit-transition: 1s;
  transition: 1s;
  color: white;
}

.main-header .secondary-nav .search-box input[type="text"]:focus::placeholder {
  -webkit-transition: 1s;
  transition: 1s;
  color: white;
}

.main-header .secondary-nav .search-box input[type="text"]:focus + span {
  width: 150px;
}

.main-header .secondary-nav .search-box input[type="text"]:focus + span::before {
  width: 2px;
  opacity: 0;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}

.main-header .secondary-nav .search-box input[type="text"] + span {
  z-index: -1;
  position: absolute;
  border: 2px solid white;
  top: 0;
  width: 25px;
  height: 25px;
  -webkit-transition: all .25s ease-in .25s;
  transition: all .25s ease-in .25s;
  border-radius: 25px;
  left: 0;
}

.main-header .secondary-nav .search-box input[type="text"] + span::before {
  -webkit-transition: all .25s ease-in .5s;
  transition: all .25s ease-in .5s;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  content: '';
  position: absolute;
  width: 10px;
  height: 5px;
  border-radius: 5px;
  background: white;
  -webkit-transform: rotate(45deg) translate(26px, -2px);
          transform: rotate(45deg) translate(26px, -2px);
}

.main-header .secondary-nav .search-box .fa-search {
  font-size: 16px;
  color: white;
}

.main-header .secondary-nav .profile-icon {
  float: right;
  position: relative;
  display: inline-block;
  bottom: 6px;
  left: 14px;
  display: none;
  width: 30px;
  height: 30px;
}

.main-header .secondary-nav .profile-icon .circle p {
  top: 7px;
}

.main-header .secondary-nav .profile-icon .arrow-up {
  height: 0;
  width: 0;
  display: none;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
  position: relative;
  bottom: 10px;
  left: 12px;
}

.main-header .secondary-nav .profile-icon .profile-dropdown {
  border-top: 1px solid white;
  display: none;
  position: relative;
  bottom: 4px;
  right: 110px;
  background: rgba(25, 25, 25, 0.9);
  min-width: 140px;
}

.main-header .secondary-nav .profile-icon .profile-dropdown li:hover {
  background: rgba(190, 190, 190, 0.19);
}

.main-header .secondary-nav .profile-icon .profile-dropdown a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.main-header .secondary-nav .profile-icon:hover .arrow-up, .main-header .secondary-nav .arrow-up:hover .arrow-up {
  display: inline;
}

.main-header .secondary-nav .profile-icon:hover .profile-dropdown, .main-header .secondary-nav .arrow-up:hover .profile-dropdown {
  display: block;
}

.main-header .secondary-nav .profile-icon:hover .profile-dropdown:hover, .main-header .secondary-nav .arrow-up:hover .profile-dropdown:hover {
  display: block;
}

/* Used in side-nav and main-header */
.profile-icon .circle {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: white;
  text-align: center;
}

.profile-icon .circle p {
  color: #191919;
  position: relative;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 9vw;
  left: 0;
  background: #191919;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 20px 0 0 0;
  -webkit-box-shadow: -6px 28px 10px black;
          box-shadow: -6px 28px 10px black;
}

.side-nav hr {
  width: 90%;
}

.side-nav .profile-icon {
  width: 40px;
  height: 40px;
  position: relative;
  left: 30px;
  margin: 0 0 10px 0;
  display: inline-block;
}

.side-nav .profile-icon .circle p {
  top: 10px;
  font-size: 20px;
}

.side-nav a, .side-nav span {
  color: white;
}

.side-nav a:hover, .side-nav span:hover {
  color: #bebebe;
}

.side-nav span {
  position: relative;
  top: 10px;
  left: 40px;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.side-nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 22px;
  display: block;
  -webkit-transition: 0.0s;
  transition: 0.0s;
}

.main-container {
  width: 100%;
  height: auto;
  /* For large sliders */
  /* For medium sliders */
}

.main-container .billboard-pane {
  display: none;
}

.main-container .billboard-pane .title-image {
  width: 100%;
  height: auto;
  min-height: 330px;
}

.main-container .billboard-pane .fill-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 12% 0 0 4%;
  z-index: 1;
}

.main-container .billboard-pane .fill-container .info-wrapper {
  width: 38%;
  height: auto;
  z-index: 1;
}

.main-container .billboard-pane .fill-container .info-wrapper .title-logo {
  width: 60%;
  height: auto;
  min-width: 100px;
}

.main-container .billboard-pane .fill-container .info-wrapper .description {
  color: white;
  font-size: 1.4vw;
  line-height: 150%;
  margin: 4% 0 0 0;
}

.main-container .billboard-pane .fill-container .control-buttons {
  margin: 1% 0 0 0;
}

.main-container .billboard-pane .fill-container .control-buttons .control-item {
  float: left;
  margin: 0 2% 0 0;
}

.main-container .billboard-pane .fill-container .control-buttons .control-item .play-button {
  width: 8vw;
  height: 3vw;
  background: white;
  border-radius: 6%;
  border: none;
  color: #191919;
  font-size: 1.4vw;
}

.main-container .billboard-pane .fill-container .control-buttons .control-item .play-button:hover {
  background: #bebebe;
  cursor: pointer;
}

.main-container .billboard-pane .fill-container .control-buttons .control-item .add-button {
  width: 18vw;
  height: auto;
  background: transparent;
  border: none;
  color: white;
  padding: 0;
  font-size: 1.4vw;
}

.main-container .billboard-pane .fill-container .control-buttons .control-item .add-button:hover {
  cursor: pointer;
  color: #bebebe;
}

.main-container .billboard-pane .fill-container .control-buttons .add-item {
  padding: 4px 0 0 0;
}

.main-container .slider-header {
  color: white;
  font-size: 16px;
  margin: 0 0 8px 0;
}

.main-container .slider-wrapper {
  width: 100%;
  position: relative;
  top: 30px;
  margin: 50px 0 0 0;
  padding: 0 0 0 18px;
  z-index: 2;
}

.main-container .slider-wrapper img {
  width: 100%;
  border-radius: 4px;
}

.main-container .lg-slider-wrapper {
  height: 54vw;
}

.main-container .lg-slider-wrapper .lg-preview img {
  height: 100%;
}

.main-container .med-slider-wrapper {
  height: 26vw;
}

.main-container .med-slider-wrapper .med-preview img {
  height: 100%;
}

footer {
  width: 100%;
  height: auto;
  color: #969696;
  font-size: 16px;
  text-align: center;
  position: relative;
  top: 100px;
  padding: 0 0 40px 0;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .main-header {
    padding: 3% 4% 6% 2% !important;
  }
  .fa-bars {
    font-size: 26px !important;
    bottom: 0.4vw !important;
  }
  .secondary-nav {
    bottom: 0.3vw !important;
  }
  .logo {
    width: 11% !important;
    bottom: 0.4vw !important;
  }
  .slider-header {
    font-size: 19px !important;
  }
  footer {
    font-size: 18px;
  }
}

/* Medium devices (landscape tablets, 868px and up) */
@media only screen and (min-width: 868px) {
  .main-header {
    max-height: 10% !important;
    padding-top: 18px !important;
    padding-bottom: 10px !important;
  }
  .logo {
    width: 10% !important;
    margin: 0 0 0 0 !important;
  }
  .fa-bars {
    display: none !important;
  }
  .side-nav {
    display: none !important;
  }
  .nav-tab {
    display: inline-block !important;
  }
  .secondary-nav {
    bottom: 0 !important;
  }
  .profile-icon {
    display: inline !important;
  }
  .billboard-pane {
    display: inline !important;
  }
  .add-item {
    padding: 7px 0 0 0 !important;
  }
  .slider-header {
    font-size: 20px !important;
  }
  .slider-wrapper {
    position: relative !important;
    top: -50px !important;
    margin: 0 0 66px 0 !important;
    padding: 0 4vw !important;
  }
  .lg-slider-wrapper {
    height: 32vw !important;
  }
  .med-slider-wrapper {
    height: 14vw !important;
  }
  footer {
    top: 0px;
    padding: 0 0 50px 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .nav-tab {
    font-size: 18px !important;
  }
  .slider-header {
    font-size: 22px !important;
  }
  .slider-wrapper {
    top: -60px !important;
  }
  footer {
    font-size: 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .secondary-nav {
    top: 3px !important;
  }
  .nav-tab {
    padding: 7px 0 0 0 !important;
  }
  .logo {
    width: 9% !important;
    margin: 0 0 0 0 !important;
  }
  .profile-icon {
    bottom: 9px !important;
    width: 35px !important;
    height: 35px !important;
  }
  .profile-icon p {
    font-size: 20px !important;
  }
  .slider-header {
    font-size: 24px !important;
  }
  .slider-wrapper {
    position: relative !important;
    top: -88px !important;
    margin: 0 0 66px 0 !important;
    padding: 0 4vw !important;
  }
  footer {
    font-size: 21px;
  }
}
/*# sourceMappingURL=style.css.map */