$primaryColor: rgb(25, 25, 25);
$secondaryColor: white;
$hoverColor: rgb(200, 200, 200);

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    background: $primaryColor;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0 0 0 0;
}
.fa {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.main-header {
    width: 100%; height: auto;
    max-height: 6%;
    position: fixed; 
    top: 0;
    z-index: 3;
    background: transparent;
    padding: 1.8% 4% 0 4%;
    transition: background .4s;

    &.scrolled { background: $primaryColor; }

    .logo {
        width: 6%; height: auto; 
        min-width: 76px;
        float: left;
        margin: 0 1% 1% 0;
        position: relative; bottom: 4px;
    }

    .primary-nav {
        display: inline;
        min-height: 12px;
        list-style-type: none;
        overflow: hidden;

        a {
            color: $secondaryColor; 
            text-decoration: none;
            
            &:hover {
                color: $hoverColor; 
            }

            &.active {
                color: $secondaryColor;
                font-weight: bold;
                cursor: default;
            }  
        }

        .nav-menu {
            position: relative;
            display: inline-block;
            font-size: 2.4vw;

            &:hover .sub-menu {
                display: block; 
            }

            .sub-menu {
                display: none;
                position: relative; top: 20px; right: 78px;
                border-top: 2px solid $secondaryColor;
                background-color: rgba(0, 0, 0, 0.80);
                min-width: 200px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                text-align: center;
                z-index: 3;

                .sub-menu-list {
                    list-style-type: none;

                    li a{
                        margin: 0 0 0 -42px; padding: 12px 16px;
                        display: block;
                    
                        &:hover {
                            background-color: rgba(60, 60, 60, 0.8);
                        }
                    }
                }
            }
            .sub-menu:after, .sub-menu:before {
                bottom: 100%;
                left: 45%;
                border: solid transparent;
                content: " ";
                position: absolute;
                pointer-events: none;
            }
            .sub-menu:before {
                border-bottom-color: $secondaryColor;
                border-width: 12px;
            }
        }

        .nav-tab { 
            float: left; 
            margin: 0 0 0 2%;
            display: none;
            font-size: 0.95vw;
        }
    }

    .secondary-nav {
        float: right;
        color: $secondaryColor;

        .search-box {
            float: left;
            margin: 0px 30px 0 0;

            .fa-search {
                font-size: 2.4vw;
                color: $secondaryColor;
            }
        }

        .profile-icon {
            float: right;
            position: relative; bottom: 22px;
            width: 30px; height: 30px; //!!!!!!!!!!!!!

            .circle {
                border-radius: 50%;
                width: 100%; height: 100%;
                background: $secondaryColor;
                text-align: center;

                p {
                    color: $primaryColor;
                    position: relative;
                    top: 6px;
                }
            }
        }
    }
}

.main-container {

    .billboard-pane {
        //width: 100%; height: 100%;
        display: none;

        .title-image {
            width: 100%; height: auto;
            min-height: 330px;
        }

        .fill-container {
            position: absolute;
            width: 100%; height: 100%;
            top: 0; right: 0; bottom: 0; left: 0;
            padding: 12% 0 0 4%;
            z-index: 1;

            .info-wrapper {
                width: 38%; height: auto;
                z-index: 1;

                .title-logo {
                    width: 60%; height: auto;
                    min-width: 100px;
                }

                .description {
                    color: $secondaryColor;
                    font-size: 1.4vw;
                    line-height: 150%;
                    margin: 4% 0 0 0;
                    text-shadow: 2px 2px 4px $primaryColor;
                }
            }

            .control-buttons {
                margin: 1% 0 0 0;

                .control-item {
                    float: left;
                    margin: 0 2% 0 0;

                    .play-button {
                        width: 8vw; height: 3vw;
                        background: $secondaryColor;
                        border-radius: 6%;
                        border: none;
                        color: $primaryColor;
                        font-size: 1.4vw;

                        &:hover {
                            background: $hoverColor;
                            cursor: pointer;
                        }
                    }

                    .add-button {
                        width: 18vw; height: auto;
                        background: transparent;
                        border: none;
                        color: $secondaryColor;
                        padding: 0;
                        font-size: 1.4vw;

                        &:hover {
                            cursor: pointer;
                            color: $hoverColor;
                        }
                    }
                }
                .play-item {}
                .add-item {
                    padding: 4px 0 0 0;
                }
            }
        }
    }

    .slider-header {
        color: $secondaryColor;
        font-size: 3.4vw;
        //position: relative; top: 4vh;
    }

    .slider-wrapper {
        width: 100%;
        position: relative; top: 2vw; //left: 3.6vw;//bottom: 14vw;
        margin: 8% 0 0 0; padding: 0 0vw 0 4vw;
        z-index: 2;

        img {
            width: 100%;
            border-radius: 4px;
        }
    }

    /* For large sliders */
    .lg-slider-wrapper { 
        height: 54vw; //34vw;

        .lg-preview {


            img { 
                height: 98%; 
            }

        }
    }

    /* For medium sliders */
    .med-slider-wrapper { 
        height: 26vw; //14vw

        .med-preview {

            img { 
                height: 95%; 
            }
        }
    }

    .fa-angle-left {}
    .fa-angle-right {}

    footer{
        //background-color: rgb(36, 36, 36);
        width: 100%; height: 1%;
        color: rgb(150, 150, 150);
        font-size: 1.2rem;
        text-align: center;
        position: relative; bottom: 50px;

        .footer-item {

        }
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .fa-search { 
        font-size: 2vw !important; 
    }

    .nav-menu { 
        font-size: 2vw !important; 
    }
} 

/* Medium devices (landscape tablets, 868px and up) */
@media only screen and (min-width: 868px) {
    .main-header { 
        max-height: 10%; 
    }

    .nav-menu { 
        display: none !important; 
    }

    .nav-tab { 
        display: inline-block !important;
        font-size: 1.2vw !important;
    }

    .search-box { 
        margin: 0px 20px 3px 0 !important;
    }

    .fa-search { 
        font-size: 1.2vw !important; 
    }

    .profile-icon { 
        bottom: 24px !important;
        width: 34px !important; height: 34px !important;

        p {
            font-size: 16px !important;
            position: relative; top: 9px !important;
        }
    }
    
    .billboard-pane {
        display: inline !important;
    } 

    .add-item {
        padding: 7px 0 0 0 !important;
    }

    .slider-header {
        font-size: 1.6vw !important;
    }

    .slider-wrapper {
       position: relative !important;
       top: -6vw !important;
       //bottom: 6vw !important;
       margin: 0 0 4% 0 !important; //
       padding: 0 4vw 0 4vw !important;
    }
    .lg-slider-wrapper { 
        height: 32vw !important; //34vw;

        .lg-preview {

            .fa-play-circle { 
                top: 13vw !important; 
                left: 8vw !important; 
            }
        }
    }

    .med-slider-wrapper { 
        height: 14vw !important; //14vw;

        .med-preview {

            .fa-play-circle { 
                top: 4vw !important; 
                left: 9vw !important; 
            }
        }
    }

    .fa-play-circle { 
        font-size: 6vw !important; 
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}


/* 
Issues:
    Slider headings
    Don't show left or right arrow at end of respective slider side
    fa-angle sizing
    fa-play-circle (possibly remove??)
        Show on hover of entire preview
    Profile icon??
        Remove or change shape??
    Browser compatibility (fonts)
    
Mobile Issues:
    View too small
        Font too small
        Too much shown in view
    Footer spacing
    Nav spacing (Use side menu instead or onclick??; Only logo and search visible)
        Search drops when browse dropdown opens
        Can't put away browse (remove)
*/
