$primaryColor: rgb(25, 25, 25);
$secondaryColor: white;
$hoverColor: rgb(200, 200, 200);

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    background: $primaryColor;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0 0 0 0;
}
.fa {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

//*** MAIN HEADER CONTENT ***//
.main-header {
    width: 100%; height: auto;
    max-height: 8%;
    position: fixed; 
    top: 0;
    z-index: 3;
    background: transparent;
    padding: 3% 4% 3% 2%; //padding: 1.8% 4% 0 4%;
    transition: background .4s;

    &.scrolled { background: $primaryColor; }

    .fa-bars {
        color: $secondaryColor;
        background: transparent;
        border: none;
        font-size: 24px; //font-size: 7vw;
        position: relative;
        //top: 4px;
        margin: 0 4px 0 0;
        float: left;
    }

    .logo {
        width: 12%; height: auto; 
        min-width: 76px;
        float: left;
        //margin: 10px 0 0 0; //margin: 2% 1% 1% 0;
        position: relative; //bottom: 4px;
    }

    .primary-nav {
        display: inline;
        min-height: 12px;
        list-style-type: none;
        overflow: hidden;

        a {
            color: $secondaryColor; 
            text-decoration: none;
            
            &:hover {
                color: $hoverColor; 
            }

            &.active {
                color: $secondaryColor;
                font-weight: bold;
                cursor: default;
            }  
        }

        .nav-tab { 
            float: left; 
            margin: 0 0 0 2%;
            padding: 4px 0 0 0;
            display: none;
            font-size: 16px;
        }
    }

    .secondary-nav {
        float: right;
        color: $secondaryColor;
        margin: 5px 0 0 0;
        position: relative;
        //bottom: 18px;

        .search-box {
            float: left;
            margin: 0 0 0 0; //!!!

            .fa-search {
                font-size: 16px;//font-size: 4vw;
                color: $secondaryColor;
            }
        }

        .profile-icon {
            float: right;
            position: relative; //bottom: 22px;
            bottom: 6px;
            left: 14px;
            width: 30px; height: 30px; //!!!!!!!!!!!!!
            display: none;

            .circle {
                border-radius: 50%;
                width: 100%; height: 100%;
                background: $secondaryColor;
                text-align: center;

                p {
                    color: $primaryColor;
                    position: relative;
                    top: 7px;
                }
            }
        }
    }
}

//*** MOBILE SIDE NAVIGATION CONTENT ***//
.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 9vw;//top: 44px;
    left: 0;
    background: $primaryColor;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 20px 0 0 0;

    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: $secondaryColor;
        display: block;
        transition: 0.3s;
    }
}

//*** MAIN CONTAINER CONTENT ***//
.main-container {
    width: 100%; height: auto; // ???

    .billboard-pane {
        //width: 100%; height: 100%;
        display: none;

        .title-image {
            width: 100%; height: auto;
            min-height: 330px;
        }

        .fill-container {
            position: absolute;
            width: 100%; height: 100%;
            top: 0; right: 0; bottom: 0; left: 0;
            padding: 12% 0 0 4%;
            z-index: 1;

            .info-wrapper {
                width: 38%; height: auto;
                z-index: 1;

                .title-logo {
                    width: 60%; height: auto;
                    min-width: 100px;
                }

                .description {
                    color: $secondaryColor;
                    font-size: 1.4vw;
                    line-height: 150%;
                    margin: 4% 0 0 0;
                    //text-shadow: 2px 2px 4px $primaryColor;
                }
            }

            .control-buttons {
                margin: 1% 0 0 0; 

                .control-item {
                    float: left;
                    margin: 0 2% 0 0;

                    .play-button { // !!!
                        width: 8vw; height: 3vw;
                        background: $secondaryColor;
                        border-radius: 6%;
                        border: none;
                        color: $primaryColor;
                        font-size: 1.4vw;

                        &:hover {
                            background: $hoverColor;
                            cursor: pointer;
                        }
                    }

                    .add-button { // !!!
                        width: 18vw; height: auto;
                        background: transparent;
                        border: none;
                        color: $secondaryColor;
                        padding: 0;
                        font-size: 1.4vw;

                        &:hover {
                            cursor: pointer;
                            color: $hoverColor;
                        }
                    }
                }
                .play-item {}
                .add-item {
                    padding: 4px 0 0 0;
                }
            }
        }
    }

    //*** SLIDER STYLES ***//
    .slider-header { // !!!
        color: $secondaryColor;
        font-size: 16px; //3.4vw;
        margin: 0 0 8px 0;//0 0 1vw 0;
        //position: relative; top: 4vh;
    }

    .slider-wrapper { // !!!
        width: 100%;
        position: relative; 
        top: 30px; 
        margin: 50px 0 0 0; 
        padding: 0 0 0 18px;
        z-index: 2;

        img {
            width: 100%;
            border-radius: 4px;
        }
    }

    /* For large sliders */
    .lg-slider-wrapper { 
        height: 54vw;

        .lg-preview {
            
            img { 
                height: 100%; 
            }

        }
    }

    /* For medium sliders */
    .med-slider-wrapper { 
        height: 26vw;

        .med-preview {

            img { 
                height: 100%; 
            }
        }
    }

    .fa-angle-left {}
    .fa-angle-right {}

    //*** FOOTER STYLE ***//
    /*footer{
        //background-color: rgb(36, 36, 36);
        width: 100%; height: 1%;
        color: rgb(150, 150, 150);
        font-size: 1.2rem;
        text-align: center;
        position: relative; bottom: 50px;

        .footer-item {

        }
    }*/
}

footer{
    width: 100%; height: auto;
    color: rgb(150, 150, 150);
    font-size: 16px;
    text-align: center;
    position: relative; 
    top: 100px;
    padding: 0 0 40px 0;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .fa-search {
        color: yellow !important;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .main-header {
        padding: 3% 4% 6% 2% !important;
        //padding: 3% 4% 3% 2%;
    }

    .fa-bars {
        font-size: 26px !important;
        bottom: 0.4vw !important;
    }

    .secondary-nav {
        bottom: 1vw !important;
    }

    .fa-search { 
        font-size: 18px !important;
        color: red !important;
    }
    
    .logo {
        width: 11% !important;
        bottom: 0.4vw !important;
        //margin: 8px 20px 0 0 !important;
    }

    .slider-header { // !!!
        font-size: 19px !important;
    }

    footer{
        font-size: 18px;
    }
} 

/* Medium devices (landscape tablets, 868px and up) */
@media only screen and (min-width: 868px) {
    .main-header { 
        max-height: 10% !important; 
        padding-top: 18px !important;
        padding-bottom: 10px !important;
    }

    .logo {
        width: 10% !important;
        margin: 0 0 0 0 !important;
    }
    
    .fa-bars {
        display: none !important;
    }

    .side-nav {
        display: none !important;
    }

    .nav-tab { 
        display: inline-block !important;
    }

    .secondary-nav {
        bottom: 0 !important;
    }

    .fa-search {
        color: green !important;
    }

    .profile-icon { 
        display: inline !important;
    }
    
    .billboard-pane {
        display: inline !important;
    } 

    .add-item {
        padding: 7px 0 0 0 !important;
    }

    .slider-header {
        font-size: 20px !important;
    }

    .slider-wrapper {
       position: relative !important;
       top: -50px !important;
       margin: 0 0 66px 0 !important;
       padding: 0 4vw 0 4vw !important;
    }

    .lg-slider-wrapper { 
        height: 32vw !important;
    }

    .med-slider-wrapper { 
        height: 14vw !important;
    }

    footer{
        top: 0px;
        padding: 0 0 50px 0;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .fa-search { 
        font-size: 18px !important;
        color: blue !important;
    }
    .nav-tab {
        font-size: 18px !important;
    }

    .slider-header {
        font-size: 22px !important;
    }

    .slider-wrapper {
        top: -60px !important;
    }

    footer{
        font-size: 20px;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .fa-search {
        font-size: 20px !important;
        color: orange !important;
    }

    .secondary-nav {
       top: 3px !important;
    }

    .nav-tab {
        padding: 7px 0 0 0 !important;
    }

    .logo {
        width: 9% !important;
        margin: 0 0 0 0 !important;
    }

    .profile-icon { 
        bottom: 9px !important;
        width: 35px !important; 
        height: 35px !important;
    
        p {
            font-size: 20px !important;
        }
    }

    .slider-header {
        font-size: 24px !important;
    }

    .slider-wrapper {
        position: relative !important;
        top: -88px !important;
        margin: 0 0 66px 0 !important;
        padding: 0 4vw 0 4vw !important;
    }

    footer{
        font-size: 21px;
    }
}


/* 
Issues:
    Don't show left or right arrow at end of respective slider side
    Browser compatibility (fa fonts)
*/
